@defaultCol: 2;  //控制一行展示的列数
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  background: #ECEEF1;
  padding: 12px;

  >.item{
    box-sizing: border-box;
    width: percentage(1/@defaultCol);
    height: calc(percentage(1/@defaultCol) - 6px);
    background: white;
    border-radius: 4px;
    padding: 12px 20px 6px 16px;
    display: flex;
    flex-direction: column;

    .title{
      position: relative;
      font-size: 16px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #4E4E4E;
      line-height: 22px;

     
    }

    >div{
      flex: 1;
      overflow: hidden;
    }
  }
  .item:nth-of-type(1){
   height: 100%;
  }
  .item:nth-of-type(3){
    width: 49% !important;
   margin-left: 12px;
  }
  .item:nth-child(2n){
    width: calc(percentage(1/@defaultCol) - 12px);

    margin-left: 12px;
  }

  .item:nth-child(n+1){
    margin-top: 12px;
  }

  .item:first-child,.item:nth-child(2){
    margin-top: 0;
  }
  .position{
    position: relative;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .taskdescription{
    position: absolute;
    top: 0px;
    left: 14px;
    font-family: PingFang SC;
    font-size: 14px;
    color: #333333;
    text-align: left;
    vertical-align: top;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0px;
    
  }
  .span3{
    position: absolute;
    top: 0px;
    right: 158px;
    font-family: PingFang SC;
    font-size: 14px;
    color: #333333;
    text-align: left;
    vertical-align: top;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0px;
    // margin-left: 400px;
  }
  .span4{
    position: absolute;
    top: 0px;
    right: 75px;
    font-family: PingFang SC;
    font-size: 14px;
    color: #333333;
    text-align: left;
    vertical-align: top;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0px;
    // margin-left: 90px;


  }
}