.navigation{
  position: relative;
  top: 0px;
  height: 52px;
  width: 100%;
  z-index: 15;

  .content{
    display: flex;
    padding: 0px 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-shadow: rgba(25, 31, 37, 0.1) 0px 2px 4px 0px;

    .right{
      display: flex;
      align-items: center;
      
      .search{
        margin-right: 16px;
      }
      
      .help{

        li{
          display: flex;
          align-items: center;
          span{
            margin-left: 16px;
          }
        }
      }
      .ark-poptip-popper[x-placement=bottom-end] .ark-poptip-arrow{
        right: 2px;
      }
    }
  }
}