.Tasks{
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  >.Timeline{
    width: 100%;
  }
  >svg{
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .content{
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    &.noActive{
      cursor: default;
    }
  }

  .item{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    padding-right: 16px;

    >span:first-child{
      flex: 1;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      font-size: 13px;
    }
    >div{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      flex: 1;
      font-size: 13px;
    }
  }
}